@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body {
  background: #0f0c29;  
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  font-family: 'Inter', sans-serif;
}

.gradient-button {
  background-image: linear-gradient(30deg, transparent, #9498a1);
  background-size: 200% 100%;
  transition: background-position 0.5s ease-out;
}

.gradient-button:hover {
  background-position: -100% 0;
}

.blue-button {
  background-color: #add8e6; 
  border: 1px solid #4682b4;
  color: rgb(18, 17, 17); 
  padding: 8px 16px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.blue-button:hover {
  background-color: #5d89a1; 
  color: rgb(23, 22, 22);
}

.word {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.word span {
  -webkit-text-stroke: 1px white;
  color: transparent;
  padding: 0 10px;
  margin-left: -20px;
}

.word span:hover {
  color: rgb(239, 228, 228);
}

.word span:has(~span:hover) {
  color: rgb(239, 228, 228);
}


.rotate-animation {
  animation: rotate 10s linear infinite; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes borderAnimation {
  0%, 100% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  50% {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}


.grid-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.grid-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #81cbe4;
  animation: borderAnimation 5s linear infinite;
}