
.price-styling {
  font-size: 24px;
  font-family: Arial,Helvetica, sans-serif;
  color: #6A0DAD;
}

.projectName {
  font-size: 32px;
  font-weight: bold;
}

.projectName-second {
  font-size: 20px;
  font-weight: bold;
}

.contentStyle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.poolDetails-header {
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(118, 59, 173);
}

.address-paragraph {
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.address-link {
  color: #6A0DAD; 
  text-decoration: underline; /* Add underline to indicate it's a link */
  cursor: pointer; /* Add pointer cursor for better user experience */
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


